<div class="sign-up-section">
  <img class="app-logo" src="assets/cloud-9-logo.png" />
  <form
    class="sign-up-form"
    [formGroup]="createUserForm"
    (ngSubmit)="createUser()"
  >
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input
        formControlName="email"
        matInput
        placeholder="something@somewhere.com"
      />
      @if (createUserForm.hasError("required", "email")) {
        <mat-error>Email is required</mat-error>
      } @else if (createUserForm.hasError("email", "email")) {
        <mat-error>Email is invalid</mat-error>
      }
    </mat-form-field>
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input formControlName="password" matInput type="password" />
      @if (createUserForm.hasError("required", "password")) {
        <mat-error>Password is required</mat-error>
      } @else if (createUserForm.hasError("minlength", "password")) {
        <mat-error>Password must be at least 8 characters</mat-error>
      }
    </mat-form-field>
    <button
      class="sign-up-button"
      color="primary"
      mat-flat-button
      type="submit"
      [disabled]="!createUserForm.valid"
    >
      Create account
    </button>
  </form>
</div>
