:host {
  display: grid;
  height: 100vh;
  width: 100vw;
  justify-content: center;
}

.app-logo {
  height: 30vh;
  margin: auto;
  padding: 16px;
}

.sign-up-section {
  display: grid;
  margin: auto;
  width: 320px;
}

.sign-up-form {
  display: flex;
  flex-flow: column;

  mat-form-field {
    margin: 8px;
  }

  .sign-up-button {
    margin: 8px;
  }
}
