:host {
  display: grid;
  height: 100vh;
  width: 100vw;
  justify-content: center;
}

.app-logo {
  height: 30vh;
  margin: auto;
}

.sign-in-section {
  display: grid;
  margin: auto;
}

.sign-in-form {
  display: flex;
  flex-flow: column;

  mat-form-field {
    margin: 4px;
  }

  .sign-in-button {
    margin: 4px;
  }
}

.or-text {
  margin: auto;
  padding: 16px 0;
}

.google-sign-in {
  display: flex;
  justify-content: center;
}

.register-link {
  margin: auto;
  padding: 8px;
}

.invalid-credentials {
  margin: -8px auto;
  padding-bottom: 16px;
}
